<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ActiveAdresses</title>
    
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <!-- plugin zoom dla telefonow uzywanie pinch dla zoom-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <!-- plugin-zoom -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.1.1/chartjs-plugin-zoom.min.js" integrity="sha512-NxlWEbNbTV6acWnTsWRLIiwzOw0IwHQOYUCKBiu/NqZ+5jSy7gjMbpYI+/4KvaNuZ1qolbw+Vnd76pbIUYEG8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    
    <canvas id="myChart" width="1250" height="600"></canvas>
    <script>
        
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{labels|tojson}},
            datasets: [{
                label: 'aktywne adresy',
                data: {{values|tojson}},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: false,
            scales: {
            y:{
                grid:{display:false},
            },
            x: {
                beginAtZero:true,
                grid:{display:false},
                
                ticks: {
                    callback: function(value){
                        const valueLegend = this.getLabelForValue(value);
                        return valueLegend.slice(5,17)
                    }
                }
            },
        },
        plugins: {
            zoom: {
                zoom: {
                    wheel: {
                        enabled: true,
                    },
                    pinch: {
                        enabled: true
                    },
                    mode: 'x',
                },
                pan:{
                    enabled:true,
                    
                    },            
                    },
                 },
        }
    });
    </script>
    <img src="https://alternative.me/crypto/fear-and-greed-index.png" alt="Latest Crypto Fear & Greed Index" />
</body>

</html>